<div class="container">
    <div class="row">

    <% provide(:title, @title) %>
    <h1><%= @title %></h1>
    <ul class="users">
      <% @boards.each do |board| %>
        <div class="board">
          <%= link_to "#{board.title}", board %> <%= board.created_at %>
          <% @categories.where(board_id: board).each do |category| %>
            <span style="font-size: 5px;"><%= category.category %></span>
          <% end %>
          <% if board.user == current_user %>
            <%= link_to '[削除]', board, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
          <% end %>
          <br>
          <%= board.body %><br>
        </div>
        <% end %>
    </ul>
    <br>

    </div>
</div>