<div class="container">
    <div class="row">
		<h3>
		  <strong><%= @board.title %></strong>
		</h3>
		<p>
		1. <%= @board.user.name %> <%= @board.created_at %><br>
		<%= @board.body %><br>
		</p>
		<% n = 2  %>
			<% @comments.each do |comment| %>
				<p>
					<%= n %>.
					<%= comment.user.name %> <%= comment.created_at %>
					<% if comment.user == current_user %>
						<%= link_to "[削除]", comment_path, method: :delete %>
					<% end %>
					<br>
					<%= comment.comment %><br>
					<% n = n + 1 %>
				</p>
			<% end %>

		<%= form_with(model: @comment, local: true) do |f| %>
			<div class="field">
				<%= f.label :comment %>
				<%= f.text_area :comment %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :board_id, :value => @board.id %>
			</div>
			<%= f.submit "コメント送信" %>
		<% end %>

		<%= link_to 'Back', boards_path %>
	</div>
</div>
